body {
  background-color: black;
  }

.container {
  background-image: url(preview.png);
  width: 100%;
  height: auto;
  background-position: center;
  position: relative;
  display: block;
  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  z-index: -1;
}

.title {
  font-family: 'Varela Round';
  font-size: 3.5em;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: 700;
}

// .nextDiv {
//   text-align: center;
//   margin: 0 auto;
// }

.links {
  width: 50%;
  // display: inline-block;
  margin: 0 auto;
  display: block;
}

#next-button {
  float: right;
  // margin-right: 25%;
}

#prev-button {
  float: left;
  // margin-left: 25%;
}

.links a {
  color: black;
  font-size: 1.5em;
  border: 1px solid yellow;
  background-color: yellow;
  border-radius: 10px;
  cursor: pointer;
  // display: block;
  // margin: 0 auto;
}

.linkLeft a {
  width: 115px;
  font-size: 1.5em;
  border: 1px solid yellow;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black;
  // z-index: 10;
  clear: both;
}

.linkRight a {
  width: 115px;
  font-size: 1.5em;
  border: 1px solid yellow;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  float: right;
  text-decoration: none;
  color: black;
  // z-index: 1;
  // clear: both;
}
