.what-i-do {
  overflow: auto;
  margin: 20px auto;
	outline: solid 1px red;
	text-align: center;
	max-width: 960px;
}

.what-i-do img {
	max-width: 90%;
	text-decoration: none;
	background-size: 75px;
}

.particular-thing1 {
  width: 25%;
  float: left;
  /*outline: solid 1px red;*/
}

.particular-thing2 {
  width: 25%;
  float: left;
  /*outline: solid 1px red;*/
}

.particular-thing3 {
  width: 25%;
  float: left;
  /*outline: solid 1px red;*/
}

.particular-thing4 {
  width: 25%;
  float: left;
  outline: solid 1px red;
}
