/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header, footer{
  /*height: 50px;*/
  clear: both;
  background-color: black;
}

header h2 {
  color: white;
  font-size: 2em;
  margin-left: 10px;
  padding-top: 8px;
}

footer h2 {
  color: white;
  font-size: 1em;
  margin-left: 10px;
  padding-top: 8px;
  clear: both;
}

.container {
  width: 80vw;
  /*height: 220vh;*/
  margin: 0 auto;
  min-height: 300px;

  /*background-color: blue;*/
}

.query {
  /*height: 30px;*/
  border-bottom: 2px solid black;
  padding-top: 35px;
  padding-bottom: 5px;
  /*display: block;*/
}

.query h2 {
  padding: 0 0 3px;
}

.list, .filter {
  width: 37vw;
  margin-top: 10px;
}

.list {
  float: left;
}

.filter {
  float: right;
}

.listItem {
  border: 1px solid grey;
  border-radius: 1%;
  margin: 5%;
  overflow: auto;
  clear: both;
}

.listItem img{
  float: left;
  width: 38%;
  margin: 1%;
}

.listItem div {
  display: inline-block;
  /*height: 200px;*/
  width: 250px;
  float: right;
  padding: 1%;
  width: 58%;
}

.filterIng li {
  border: 1px solid grey;
  border-radius: 1%;
  margin-top: 2% ;
  padding: 2%;
}

.filterIng h1 {
  font-size: 1em;
  /*text-align: ;*/
  padding-bottom: 2%;
}
