/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
	background-image: url('alpicon.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  color: transparent;
  float: left;
  height: 34px;
  margin: 0;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	overflow: auto;
	border: #D3D9DB 1px solid;
	padding: 7px 40px;
	background-color: rgba(255, 255, 255, .9)
}

nav li {
	float: left;
  font-family:sans-serif, Helvetica, Verdana;
  text-transform: uppercase;
  margin: 0 10px;
}

.search {
	float: right;
	background-image: url('magicon.svg');
  background-repeat: no-repeat;
	background-color: #000;
	border: 1px solid #000;
	width: 30px;
	height: 19px;
	border-radius: 14px;
  color: transparent;
	display: block;
	align-items: right;
}

.header {
	/*position: absolute;*/
	/*top:0;*/
	margin: -20px auto;
	text-transform: uppercase;
	font-size: 150px;
	font-family: sans-serif, helvetica, sans-serif;
	color: black;
	font-weight: 600;
	text-align: center;
}

div.bgimage img {
	height: 67%;
	width: 67%;
	/*border: 2px solid red;*/
	display: block;
	margin: 0 auto;
}

header {
	padding: 20px 0;
	width: 30%;
	margin: 0 auto;
	/*border: 1px solid red;*/
	text-transform: uppercase;
	font-family: sans-serif, helvetica, sans-serif;
	font-weight: 600;
	overflow: auto;
	text-align: center;
}

div.newbox {
	border: 1px solid red;
	width: 45px;
	height: 17px;
	background-color: red;
	border-radius: 7px;
	float: left;
	color: white;
}

div.pubdate {
	width: 125px;
	/*border: 1px solid red;*/
	float: left;
}

.pubdeets {
	width: 70%;
	padding: 20px;
	font-family: sans-serif, helvetica, sans-serif;
	margin: 0 auto;
}

.pubname {
	text-align: center;
	padding: 10px;
	font-size: 2.2em;
	font-weight: 700;
}

.pubauth {
	text-align: center;
	font-weight: 500;
	color: blue;
	padding: 10px;
}

.para {
	font-family: georgia, serif;
	font-size: 24px;
	line-height: 36px;
	text-align: left;
	padding: 10px;
}

span {
	color: black;
	font-weight: 300;
}
