.danger-zone {
  height: 400px;
  width: 500px;
  /*border: 66px solid black;*/
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  /*padding-top: 65px;*/
  /*position: relative;*/
}

.firework {
  background-image: url('fireworks.jpg');
  height: 128px;
  width: 128px;
  position: absolute;
  /*zoom: 250%;*/
  /*border: 1px solid red;*/
}

.bground {
  height: 530px;
  width: 630px;
  background-color: red;
  /*margin-left: auto;
  margin-right: auto;*/
  /*padding-top: 65px;*/
  /*margin: 0 auto;*/
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
}
