.danger-zone {
  height: 1800px;
  width: 100%;
  /*border: 2px solid grey;*/
  background-color: black;
  }

.firework {
  background-image: url('fireworks.jpg');
  height: 128px;
  width: 128px;
  position: absolute;
}
body {
  background-color: black;
}
